body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin-top: 10px;
    padding-bottom: 10px;
}
h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mainbody 
{
    padding-left: 120px;
    padding-top: 50px;
}

.mainbody > p
{
    padding-left: 20px;
    padding-bottom: 30px;
}

.item1 { grid-area: header; text-align: center;}
.item2 { grid-area: menu; text-align: center;}
.item3 { grid-area: main; text-align: left;}

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu menu main main main main';
    background-color: #2196F3;
    gap: 5px;
    padding: 0px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255);
    padding: 10px 0;
    font-size: 20px;
}